.navigation {
    padding: 0.4em;
    background-color: var(--background-1);
    transition: background-color .3s ease;

    &__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        list-style-type: none;
    }

    &__link {
        color: var(--text-color);
        font-size: 1.1rem;
        font-weight: 550;
        transition: color .3s ease;
    }
}