.photograph {
  cursor: pointer;
  &__filters {
    padding: 2rem;
    padding-top: 0;
  }

  position: relative;
  width: 100%;
  height: 100%;
  display: block;

  &__images {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  &__checkbox {
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
    width: 1.75rem;
    height: 1.75rem;
  }

  &__createPostcardSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    & button {
      font-size: 1.1rem;
    }
  }
}
