@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&display=swap");
html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-basic);
  font-size: calc(12px + 5 * (100vw - 320px) / 1600);
}
@media screen and (min-width: 1921px) {
  body {
    width: 1920px;
    margin: 0 auto;
  }
}

h1,
h2,
h3 {
  margin: 0;
}

figure {
  margin: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

:root {
  --light-primary-1: hsl(0, 0%, 100%);
  --light-primary-2: hsl(204, 15%, 94%);
  --light-primary-3: hsl(198, 16%, 84%);
  --light-primary-4: hsl(200, 9%, 52%);
  --light-color-text: hsl(0, 0%, 13%);
  --dark-primary-1: hsl(0, 0%, 13%);
  --dark-primary-2: hsl(200, 19%, 18%);
  --dark-primary-3: hsl(200, 18%, 26%);
  --dark-primary-4: hsl(199, 18%, 33%);
  --dark-color-text: hsl(0, 0%, 100%);
  --title-color: #75eab0;
  --title-color-1: #007c4a;
  --error-1: hsl(0, 76%, 41%);
  --error-2: hsl(0, 100%, 50%);
  --success-1: hsl(110, 45%, 43%);
  --success-2: hsl(121, 67%, 22%);
  --warning-1: hsl(20, 100%, 63%);
  --warning-2: hsl(20, 76%, 53%);
  --input-border-1: hsl(199, 18%, 33%);
  --input-border-2: hsl(0, 0%, 13%);
  --input-color-1: hsl(200, 19%, 18%);
  --input-color-2: hsl(0, 0%, 13%);
  --about-link: #e60965;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-background: var(--dark-primary-1);
    --background-1: var(--dark-primary-1);
    --background-2: var(--dark-primary-2);
    --text-color: var(--dark-color-text);
    --text-color2: var(--light-primary-4);
    --card-bg: var(--dark-primary-3);
    --card-title: var(--title-color);
    --toggler-border: var(--light-primary-1);
    --toggler-background: var(--dark-primary-2);
    --toggler-button: var(--light-primary-4);
    --hover-background: var(--light-primary-4);
    --hover-text: var(--dark-primary-2);
    --error-color: var(--error-1);
    --success-color: var(--success-1);
    --warning-color: var(--warning-1);
    --input-border: var(--input-border-1);
    --input-color: var(--input-color-1);
    --navProf-background: var(--light-primary-1);
    --navProf-background-hover: var(--dark-primary-2);
    --navProf-text: var(--light-color-text);
    --navProf-text-hover: var(--light-primary-2);
    --input-text-color: var(--text-color);
    --postcard-background-color: var(--dark-primary-2);
    --postcard-color: var(--light-primary-3);
    --postcard-link-background: var(--dark-primary-4);
    --postcard-link-text: var(--light-primary-1);
    --postcard-button-background: var(--light-color-text);
    --delete-button-background: var(--error-color);
    --delete-button-text: var(--light-primary-1);
  }
}
body.dark {
  --body-background: var(--dark-primary-1);
  --background-1: var(--dark-primary-1);
  --background-2: var(--dark-primary-2);
  --text-color: var(--dark-color-text);
  --text-color2: var(--light-primary-4);
  --card-bg: var(--dark-primary-3);
  --card-title: var(--title-color);
  --toggler-border: var(--light-primary-1);
  --toggler-background: var(--dark-primary-2);
  --toggler-button: var(--light-primary-4);
  --hover-background: var(--light-primary-4);
  --hover-text: var(--dark-primary-2);
  --error-color: var(--error-2);
  --success-color: var(--success-1);
  --warning-color: var(--warning-1);
  --input-border: var(--input-border-1);
  --input-color: var(--input-color-1);
  --navProf-background: var(--light-primary-1);
  --navProf-text: var(--light-color-text);
  --input-text-color: var(--text-color);
  --postcard-background-color: var(--dark-primary-2);
  --postcard-color: var(--light-primary-3);
  --postcard-link-background: var(--dark-primary-4);
  --postcard-link-text: var(--light-primary-1);
  --delete-button-background: var(--error-color);
  --delete-button-text: var(--light-primary-1);
}

body.light {
  --body-background: var(--light-primary-1);
  --background-1: var(--light-primary-2);
  --background-2: var(--light-primary-4);
  --text-color: var(--light-color-text);
  --text-color-2: var(--dark-primary-2);
  --card-bg: var(--light-primary-4);
  --card-title: var(--title-color-1);
  --toggler-border: var(--dark-primary-1);
  --toggler-background: var(--light-primary-4);
  --toggler-button: var(--dark-primary-2);
  --hover-background: var(--dark-primary-2);
  --hover-text: var(--light-primary-3);
  --error-color: var(--error-2);
  --success-color: var(--success-2);
  --warning-color: var(--warning-2);
  --input-border: var(--input-border-2);
  --input-color: var(--input-color-2);
  --navProf-background: var(--dark-primary-1);
  --navProf-text: var(--dark-color-text);
  --input-text-color: var(--light-primary-1);
  --postcard-background-color: var(--light-color-text);
  --postcard-color: var(--light-primary-1);
  --postcard-link-background: var(--dark-primary-3);
  --postcard-link-text: var(--light-primary-2);
  --delete-button-background: var(--error-color);
  --delete-button-text: var(--light-primary-1);
}

body {
  background-color: var(--body-background);
  transition: background-color 0.3s ease;
}

:root {
  --font-family-basic: -apple-system,
  BlinkMacSystemFont,
  Segoe UI,
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  Fira Sans,
  Droid Sans,
  Helvetica Neue,
  sans-serif;
}

body {
  font-family: var(--font-family-basic);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading {
  width: 2rem;
  height: 2rem;
  padding: 1rem !important;
  border-radius: 50% !important;
  border: 10px solid var(--background-2) !important;
  border-top: 10px solid var(--text-color) !important;
  background-color: var(--toggler-button) !important;
  pointer-events: none;
  animation: spin 2s linear infinite;
  background-color: inherit;
}

.toggler {
  border: none;
  display: flex;
  align-items: center;
}
.toggler .toggler__wrapper {
  position: relative;
}
.toggler .toggler__wrapper input[type=radio] {
  display: none;
}
.toggler .toggler__background {
  border: 1px solid var(--toggler-border);
  background-color: var(--toggler-background);
  width: 5rem;
  height: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 1rem;
  display: block;
  z-index: 1;
  position: relative;
}
.toggler .toggler__button {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--toggler-button);
  border: none;
  border-radius: 50%;
  position: absolute;
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: 2;
}
.toggler .toggler__button--light {
  top: 50%;
  left: 95%;
  transform: translate(-160%, -50%);
}
.toggler .toggler__button--dark {
  top: 50%;
  left: 95%;
  transform: translate(-360%, -50%);
}
.toggler .toggler__label {
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 550;
  cursor: pointer;
}

.nft {
  width: 55%;
  display: block;
  background-color: var(--card-bg);
  padding: 2rem;
  border-radius: 1rem;
}
@media screen and (max-width: 800px) {
  .nft {
    grid-column: 1/3;
    width: 80%;
    padding: 1rem;
  }
}
.nft .nft__title {
  font-size: 1.75rem;
  color: var(--card-title);
  margin-bottom: 2rem;
}
.nft .nft__text {
  color: var(--text-color);
  font-size: 1.1rem;
  word-spacing: 1px;
  letter-spacing: 1.1px;
  line-height: 1.5;
}

.formLink {
  margin: 0 auto;
  margin-top: 3rem;
  width: max-content;
  padding-top: 0.65em;
  padding-bottom: 0.65em;
  padding-left: 1.25em;
  padding-right: 1.25em;
  font-size: 1.1rem;
  background-color: var(--background-2);
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--text-color);
  transition: all 0.3s ease;
}
.formLink:hover {
  background-color: var(--hover-background);
  color: var(--hover-text);
}

.formInput {
  height: 2.25rem;
  font-size: 1.15rem;
  width: 14em;
  text-align: center;
  outline: none;
  border: 2px solid var(--input-border);
  color: var(--input-color);
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  -moz-transition: background-color 0.3s ease, color 0.3s ease;
  -ms-transition: background-color 0.3s ease, color 0.3s ease;
  -o-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.formLabel {
  font-size: 1.1rem;
  color: var(--text-color);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  margin-top: 3rem;
}

.formTitle {
  font-size: 2.5rem;
  color: var(--text-color);
}

.formError {
  font-size: 1.1rem;
  color: var(--error-color);
}

.form__note {
  color: var(--text-color);
  margin-top: 1rem;
  font-size: 1.075rem;
}

.formError {
  color: var(--error-color);
  margin-top: 2rem;
  font-size: 1.175rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navUser {
  cursor: pointer;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  border-radius: 0.75rem;
  color: var(--navProf-text);
  background-color: var(--navProf-background);
  font-size: 1.1rem;
  transition: all 0.3s ease;
}
.navUser:hover {
  background-color: var(--navProf-background-hover);
  color: var(--navProf-text-hover);
}

.camera__error {
  max-width: max-content;
  text-align: center;
  padding: 0.5rem;
  background-color: #e26a2c;
  color: var(--text-color);
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.DaD {
  max-width: max-content;
  padding: 1rem;
  background-color: var(--background-2);
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--text-color);
  transition: all 0.3s ease;
}
.DaD__paragraph {
  margin-bottom: 2.25rem;
}
.DaD__input, .DaD__label {
  cursor: pointer;
}
@media screen and (max-width: 372px) {
  .DaD__input, .DaD__label {
    max-width: max-content;
    margin: 0 auto;
    display: block;
  }
}
.DaD__label {
  border: 1px solid var(--text-color);
  padding: 0.4rem;
  transition: all 0.3s ease;
}
.DaD__label:hover {
  background-color: var(--text-color);
  color: var(--background-2);
}
@media screen and (max-width: 372px) {
  .DaD__label {
    margin-top: 1rem;
  }
}
.DaD--highlight {
  background-color: var(--background-1);
}

.gallery {
  display: grid;
  grid-auto-rows: 20rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  row-gap: 1rem;
  column-gap: 1rem;
}
.gallery--single {
  max-width: max-content;
  text-align: center;
}
.gallery--odd {
  grid-template-columns: repeat(3, 26.66rem);
}
.gallery--even {
  grid-template-columns: repeat(2, 40rem);
}
.gallery__figure {
  width: 100%;
  height: 100%;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery__image {
  max-height: 100% !important;
  max-width: 100%;
  object-fit: contain;
}

.button {
  padding: 0.625rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: normal;
  background-color: var(--background-2);
  color: var(--text-color);
  transition: all 0.3s ease;
  margin-top: 1rem;
}
.button:hover {
  background-color: var(--hover-background);
  color: var(--hover-text);
}
.button--negative {
  background-color: var(--delete-button-background) !important;
  color: var(--delete-button-text);
  letter-spacing: 1.25px;
}
.button--negative:hover {
  background-color: var(--delete-button-text) !important;
  color: var(--delete-button-background) !important;
}

.notification {
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 1rem;
  transition: all 0.3s ease;
  width: 24rem;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  word-break: break-word;
  text-align: center;
  position: relative;
}
.notification--negative {
  background-color: var(--error-color);
}
.notification--positive {
  background-color: var(--success-color);
}
.notification--warning {
  background-color: var(--warning-color);
}
.notification__button {
  width: 2rem;
  height: 2rem;
  padding: 0.25em;
  outline: none;
  border: none;
  border-radius: 50%;
  position: absolute;
  left: 100%;
  top: -5%;
  transform: translate(-50%, -5%);
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--text-color);
  color: var(--background-1);
  border: 3px solid var(--background-1);
  transition: all 0.3s ease;
}
.notification__button:hover {
  background-color: var(--background-1);
  color: var(--text-color);
}
.notification__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 0;
  overflow-y: scroll;
  width: 30rem;
  background-color: var(--postcard-background-color);
  z-index: 5;
  border-radius: 1rem;
  transition: max-height 1s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.notification__container--expanded {
  max-height: 30rem;
}
.notification__container__button {
  background-color: var(--warning-color);
  border-radius: 2rem;
  padding: 0.5rem;
  outline: none;
  border: none;
  margin-top: 0.5rem;
  cursor: pointer;
}

.postcardDescription {
  padding: 1rem;
  font-size: 1rem;
  margin-top: 1rem;
  display: block;
  width: 22.5rem;
  text-align: center;
  border-radius: 1.5rem;
  outline: none;
  border: 1.5px solid transparent;
  transition: all 0.3s ease;
  background-color: var(--input-border);
  color: var(--input-text-color);
}

.postcards__container {
  display: block;
  width: min-content;
  margin: 0 auto;
  margin-top: 5rem;
  text-align: center;
}
.postcards__container--moreThan3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  grid-template-rows: auto;
}
@media screen and (max-width: 1300px) {
  .postcards__container--moreThan3 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 800px) {
  .postcards__container--moreThan3 {
    gap: 0.5rem;
  }
}
@media screen and (max-width: 765px) {
  .postcards__container--moreThan3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.postcards__container--max3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}
@media screen and (max-width: 1250px) {
  .postcards__container--max3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
@media screen and (max-width: 770px) {
  .postcards__container--max3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.postcards__item {
  background-color: var(--postcard-background-color);
  padding: 1rem;
  color: var(--text-color);
}
.postcards__id {
  font-size: 1.7rem;
  letter-spacing: 1.4px;
  color: var(--light-primary-1);
}
.postcards__description {
  text-align: center;
  padding: 0.5rem;
  background-color: var(--postcard-link-background);
  color: var(--light-primary-1);
}
.postcards__link {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.postcards__linkText {
  padding: 0.5rem;
  flex-grow: 2;
  background-color: var(--postcard-link-background);
  text-align: left;
  text-decoration: underline;
  text-decoration-color: var(--postcard-link-text);
  color: var(--postcard-link-text);
}
.postcards__button {
  z-index: 2;
  margin-left: auto;
  cursor: pointer;
  font-size: 1.3rem;
  background-color: var(--postcard-button-background);
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.postcards__tooltip {
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translate(-50%, -100%);
  width: max-content;
  padding: 0.25rem;
  padding-bottom: 0.6rem;
  border-radius: 0.25rem;
  z-index: 3;
  cursor: default;
  font-size: 0.975rem;
  background-color: grey;
  color: var(--postcard-button-background);
  transition: all 0.3s ease;
  display: none;
  opacity: 0;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 60% 80%, 50% 100%, 40% 80%, 0% 80%);
}
.postcards__button:hover .postcards__tooltip {
  display: block;
  opacity: 1;
}
.postcards__Heading {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--text-color);
}

.postcards .footer {
  position: absolute;
  bottom: 0;
}

.navigation {
  padding: 0.4em;
  background-color: var(--background-1);
  transition: background-color 0.3s ease;
}
.navigation__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  max-height: max-content;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  padding-left: 0;
}
@media screen and (max-width: 650px) {
  .navigation__list {
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
  }
  .navigation__list li {
    margin-bottom: 0.5rem;
  }
}
.navigation__list--expanded {
  max-height: 15rem;
}
.navigation__link {
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 550;
  transition: color 0.3s ease;
}
.navigation__button {
  display: none;
  margin: 0 auto;
  width: 3rem !important;
  height: 3rem !important;
  color: var(--text-color) !important;
  cursor: pointer;
}
@media screen and (max-width: 650px) {
  .navigation__button {
    display: block;
  }
}

.header {
  margin-top: 2rem;
  display: flex;
}
@media screen and (max-width: 1791px) {
  .header {
    flex-direction: column;
  }
}
.header__text {
  margin-top: 10rem;
  padding-left: 2rem;
  color: var(--text-color);
}
@media screen and (max-width: 1821px) {
  .header__text {
    padding-left: 0;
  }
}
@media screen and (max-width: 1791px) {
  .header__text {
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }
}
.header__title {
  font-size: 5rem;
}
.header__info {
  font-size: 1.25rem;
  padding-left: 2rem;
  white-space: nowrap;
}
@media screen and (max-width: 950px) {
  .header__info {
    padding-left: 0;
  }
}
@media screen and (max-width: 775px) {
  .header__info {
    white-space: normal;
  }
}
.header__images {
  margin-left: 2rem;
  border: 3px solid var(--text-color);
  position: relative;
  display: grid;
  grid-template-columns: 25rem 34rem;
  grid-template-rows: repeat(2, 25rem);
}
@media screen and (max-width: 949px) {
  .header__images {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 17.5rem);
  }
}
@media screen and (max-width: 550px) {
  .header__images {
    grid-template-rows: repeat(2, 12rem);
  }
}
@media screen and (max-width: 1791px) {
  .header__images {
    margin: 0 auto;
    width: max-content;
  }
}
.header__figure {
  position: relative;
}
.header__figure--left {
  width: 25rem;
  height: 50rem;
  grid-column: 1/2;
  grid-row: 1/3;
}
@media screen and (max-width: 949px) {
  .header__figure--left {
    display: none;
  }
}
.header__figure--bottomRight {
  width: 34rem;
  height: 25rem;
  grid-row: 1/2;
  grid-column: 2/3;
}
@media screen and (max-width: 949px) {
  .header__figure--bottomRight {
    height: 17.5rem;
  }
}
@media screen and (max-width: 550px) {
  .header__figure--bottomRight {
    width: 20rem;
    height: 12rem;
  }
}
.header__figure--upRight {
  width: 34rem;
  height: 25rem;
  grid-row: 2/3;
  grid-column: 2/3;
}
@media screen and (max-width: 949px) {
  .header__figure--upRight {
    height: 17.5rem;
  }
}
@media screen and (max-width: 550px) {
  .header__figure--upRight {
    width: 20rem;
    height: 12rem;
  }
}

.main {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 2rem;
  justify-items: center;
  margin-top: 14rem;
}
@media screen and (max-width: 950px) {
  .main {
    margin-top: 7rem;
  }
}
@media screen and (max-width: 800px) {
  .main {
    margin-top: 2.5rem;
  }
}
.main__title {
  font-size: 3rem;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 3rem;
  grid-column: 1/3;
}
.main__linksContainer {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
@media screen and (max-width: 800px) {
  .main__linksContainer {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}
.main__link {
  text-decoration: none !important;
  font-size: 1.3rem;
  padding: 1rem;
  background-color: var(--background-2);
  margin-top: 2rem;
  text-align: center;
  color: var(--text-color);
  transition: all 0.3s ease;
}
.main__link:hover {
  background-color: var(--hover-background);
  color: var(--hover-text);
}

.footer {
  width: 100%;
  background-color: var(--background-1);
  color: var(--text-color);
  font-size: 1.2rem;
  text-align: center;
  padding: 2rem;
  margin-top: 2rem;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user {
  margin-top: 3rem;
  width: 100%;
}
.user__navigation {
  position: relative;
}
.user__navigation::before {
  width: 25%;
  content: "";
  height: 1px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: var(--text-color);
}
@media screen and (max-width: 605px) {
  .user__navigation::before {
    width: 0%;
  }
}
.user__navigation::after {
  width: 50%;
  content: "";
  height: 1px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  background-color: var(--text-color);
}
@media screen and (max-width: 605px) {
  .user__navigation::after {
    width: 0%;
  }
}
.user__navList {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  height: 100%;
}
@media screen and (max-width: 605px) {
  .user__navList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
  }
}
.user__link {
  display: inline-block;
  padding: 1rem;
  font-size: 1.075rem;
  height: 100%;
  color: var(--text-color);
  font-weight: 525;
  position: relative;
  z-index: 3;
  transition: all 0.3s ease;
}
.user__link--selected::after {
  height: 100% !important;
}
.user__link--selected {
  color: var(--background-1) !important;
}
.user__link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0%;
  transform: translate(0%, -100%);
  width: 100%;
  height: 0;
  z-index: -1;
  background-color: var(--text-color);
  transition: all 0.3s ease;
}
.user__link:hover {
  color: var(--background-1);
}
.user__link:hover::after {
  height: 100%;
}
.user__link--notifications {
  border: 1px solid var(--warning-color) !important;
}
@media screen and (max-width: 605px) {
  .user__link--notifications {
    grid-column: 1/3;
    margin: 0 auto;
  }
}
.user__link span {
  border-radius: 100%;
  background-color: var(--warning-color);
  padding: 0.75rem;
  height: 0.75rem;
  width: 0.75rem;
  position: absolute;
  top: -20%;
  left: 91%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user__location {
  color: var(--text-color);
  width: max-content;
  display: block;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid var(--text-color);
  margin: 0 auto;
  margin-top: 2rem;
}
.user__main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.photograph {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}
.photograph__filters {
  padding: 2rem;
  padding-top: 0;
}
.photograph__images {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.photograph__checkbox {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(0%, 0%);
  width: 1.75rem;
  height: 1.75rem;
}
.photograph__createPostcardSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.photograph__createPostcardSection button {
  font-size: 1.1rem;
}

.viewPostcard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.viewPostcard__location {
  font-size: 1.25rem;
  padding: 1rem;
  color: var(--text-color);
  display: flex;
  align-items: center;
}
.viewPostcard__svg {
  margin: 0 !important;
  background-color: var(--text-color) !important;
  fill: var(--background-1) !important;
  width: 3rem !important;
  height: 3rem !important;
  border-radius: 2rem !important;
}
.viewPostcard__description {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--text-color);
}
.viewPostcard__description h2 {
  font-size: 2.75rem;
  text-decoration: underline;
  text-align: center;
}
.viewPostcard__description p {
  font-family: "Caveat", cursive;
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
}
.viewPostcard__photographs {
  height: auto;
  width: 100%;
  overflow: auto;
}
.viewPostcard__figure {
  text-align: center;
  position: relative;
  display: block;
  max-width: 40rem;
  margin: 0 auto;
  height: auto;
  margin-top: 1rem;
}
.viewPostcard__caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: max-content;
  margin: 0 auto;
  background-color: var(--navProf-background);
  color: var(--navProf-text);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  max-width: 100%;
}
.viewPostcard__caption p {
  overflow-wrap: break-word;
  max-width: 100%;
}
.viewPostcard__caption__text {
  font-size: 1.1rem;
  padding: 0.5rem;
  display: block;
  text-align: center;
  margin: 0;
}
.viewPostcard__caption__SVG {
  margin: 0 !important;
  margin-right: 1rem !important;
  background-color: var(--navProf-text) !important;
  fill: var(--navProf-background) !important;
  width: 2rem !important;
  height: 2rem !important;
  border-radius: 2rem !important;
  padding: 0.2rem;
}
.viewPostcard__loading {
  text-align: center;
  color: var(--text-color);
}

.location {
  width: max-content;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 0.5rem;
}
.location h3 {
  text-decoration: underline;
}
.location p {
  font-size: 1.1rem;
}
.location__container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
@media screen and (max-width: 360px) {
  .location__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
.location__heading {
  margin: 2rem;
  font-size: 2.8rem;
  color: var(--text-color);
  text-align: center;
}

.about {
  width: 50%;
  margin: 0 auto;
  color: var(--text-color);
  cursor: default;
}
.about--heading {
  text-align: center;
  margin-bottom: 1.5rem;
}
.about--subheading {
  line-height: 1.6em;
  margin-bottom: 1.5rem;
}
.about--sectionHeading {
  width: max-content;
  padding: 1rem;
  background-color: var(--text-color);
  color: var(--navProf-text);
  border-radius: 0.5rem;
}
.about--sectionsubHeading {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  text-decoration: underline;
}
.about--text {
  line-height: 1.4rem;
}
.about--attention {
  background-color: var(--error-color);
  font-weight: bold;
}
.about--link {
  color: var(--about-link) !important;
}

/*# sourceMappingURL=style.css.map */
