.navUser {
  cursor: pointer;
  padding: {
    left: 4rem;
    right: 4rem;
    top: 0.1rem;
    bottom: 0.1rem;
  }
  border-radius: 0.75rem;
  color: var(--navProf-text);
  background-color: var(--navProf-background);
  font-size: 1.1rem;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--navProf-background-hover);
    color: var(--navProf-text-hover);
  }
}
