.notification {
  display: block;
  padding: {
    top: 1rem;
    bottom: 1rem;
    left: 0.75rem;
    right: 0.75rem;
  }
  font-size: 1rem;
  transition: all 0.3s ease;
  width: 24rem;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  word-break: break-word;
  text-align: center;
  position: relative;

  &--negative {
    background-color: var(--error-color);
  }

  &--positive {
    background-color: var(--success-color);
  }

  &--warning {
    background-color: var(--warning-color);
  }

  &__button {
    width: 2rem;
    height: 2rem;
    padding: 0.25em;
    outline: none;
    border: none;
    border-radius: 50%;
    position: absolute;
    left: 100%;
    top: -5%;
    transform: translate(-50%, -5%);
    font-size: 1rem;
    cursor: pointer;
    background-color: var(--text-color);
    color: var(--background-1);
    border: 3px solid var(--background-1);
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--background-1);
      color: var(--text-color);
    }
  }

  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 0;
    overflow-y: scroll;
    width: 30rem;
    background-color: var(--postcard-background-color);
    z-index: 5;
    border-radius: 1rem;
    transition: max-height 1s ease;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--expanded {
      max-height: 30rem;
    }

    &__button {
      background-color: var(--warning-color);
      border-radius: 2rem;
      padding: 0.5rem;
      outline: none;
      border: none;
      margin-top: 0.5rem;
      cursor: pointer;
    }
  }
}
